---
import { getCollection } from 'astro:content';

import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import LeafletMarker from '../components/LeafletMarker.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ProjectDetails from '../components/ProjectDetails.astro';

const projects = await getCollection('projects');
const coordinates = projects.map(p => p.data.coordinates).reduce((acc, cur) => [acc[0] + cur[0], acc[1] + cur[1]], [0, 0]).map((sum: number) => sum / projects.length);
---

<Layout>
	<Main>
        <div slot="sidebar">
            { projects.map((project) => <ProjectCard { project } />) }
        </div>
        <div id="map" slot="map" data-coordinates={ coordinates }>
            { projects.map((project) => <LeafletMarker { project } />) }
        </div>
        <div slot="details">
            { projects.map((project) => <ProjectDetails { project } />) }
        </div>
    </Main>
</Layout>

<script>
    import { Map, TileLayer } from 'leaflet';
    import { TILES_URL } from '../common.ts';
    const el = document.querySelector('#map');
    const map = new Map(el).setView(el.dataset.coordinates.split(','), 6);
    const tile = new TileLayer(`${TILES_URL}/{z}/{x}/{y}.png`, {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
</script>

<style>
#map {
    height: 100%;
    width: 100%;
}

#details {
    height: 100%;
    width: 100%;
}
</style>
