---
import { title } from '../common.ts';
---
<main>
    <section class="sidebar">
        <details class="header">
            <summary>{ title }</summary>
            <p>Land & Crafts Map és una xarxa d'artefactes site-específics que explora la relació entre l'ésser humà i la natura des d'una perspectiva biocèntrica i multiespècie. El projecte combina l'experimentació amb materials naturals i processos artesans locals amb experiències estètiques contemplatives per fomentar la consciència ecosistèmica i l'empatia cap a altres formes de vida, qüestionant els enfocaments convencionals del disseny per crear productes i experiències, integrades en entorns naturals, des d’una estètica ecològica.</p>
        </details>
        <slot name="sidebar" />
    </section>
    <section class="map">
        <slot name="map" />
    </section>
    <section class="details hide" id="details">
        <slot name="details" />
    </section>
</main>

<style>
main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidebar map map map map";

  & > section {
      max-height: 100dvh;
      overflow: auto;
  }
}

.header {
    color: white;
    margin: 1rem;
    & summary {
        font-size: 1.2rem;
        font-weight: bolder;
    }
}

.sidebar {
  grid-area: sidebar;
  background: black;
}

.map {
  grid-area: map;
  background: #90CCCB;
}

.details {
  grid-area: 1 / 4 / 2 / 6;
  background: white;
  z-index: 1000; /* same as leaflet max */
  transition: transform 0.3s ease;

  &.hide {
      transform: translateX(50dvw);
  }
}

</style>
