---
import { title } from '../common.ts';
---
<main>
    <header class="header">
        <slot name="header">
            <h1>&nbsp; <em>{ title }</em> &nbsp;&utdot;&nbsp; map</h1>
        </slot>
    </header>
    <section class="sidebar">
        <slot name="sidebar" />
    </section>
    <section class="map">
        <slot name="map" />
    </section>
    <section class="details hide" id="details">
        <slot name="details" />
    </section>
</main>

<style>
main {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas:
    "header header header header header"
    "sidebar map map map map";
}

.header {
  grid-area: header;
  background: black;
}

h1 {
  margin: auto 0;
  line-height: 4rem;
  color: white;
}

main > section {
  max-height: calc(100dvh - 4rem);
  overflow: auto;
}

.sidebar {
  grid-area: sidebar;
  background: black;
}

.map {
  grid-area: map;
  background: #90CCCB;
}

.details {
  grid-area: 2 / 4 / 3 / 6;
  background: white;
  z-index: 1000; /* same as leaflet max */
  transition: transform 0.3s ease;
}

.details.hide {
  transform: translateX(50dvw);
}
</style>
