---
---
<main>
    <section class="sidebar">
        <slot name="sidebar" />
    </section>
    <section class="map">
        <slot name="map" />
    </section>
    <section class="details hide" id="details">
        <slot name="details" />
    </section>
</main>

<style define:vars={ { backgroundColor: '#182121' } }>
main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidebar map map map map";

  & > section {
      max-height: 100dvh;
      overflow: auto;
  }
}

.sidebar {
  grid-area: sidebar;
  background: var(--backgroundColor);
}

.map {
  grid-area: map;
  background: #90CCCB;
}

.details {
  grid-area: 1 / 4 / 2 / 6;
  background: white;
  z-index: 1000; /* same as leaflet max */
  transition: transform 0.3s ease;

  &.hide {
      transform: translateX(50dvw);
  }
}

</style>
