---
import '../../public/inter.css';
import { description, title } from '../common.ts';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://b.tile.openstreetmap.fr" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={ Astro.generator } />
        <meta name="description" content={ description } />
        <title>{ title }</title>
        <link rel="stylesheet" href="/leaflet.css" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
        overflow: hidden;
	}
</style>
